<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon-64x64.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <div class="my-container d-flex">

            <!-- LEFT CONTAINER -->
            <div class="left">
                <div class="row m-0">

                    <!-- User box -->
                    <div class="col-12 d-flex justify-content-between bg-lightgray">
                        <div class="align-middle py-10">
                            <img src="./img/avatar_io.jpg" alt="">
                            <span class="fw-bolder mx-2">Franco</span>
                        </div>
                        <div class="d-flex align-items-center py-10">
                            <ul class="ul-menu list-unstyled d-flex m-0">
                                <li><i class="fa-solid fa-lg fa-circle-notch" style="color: rgba(128, 128, 128, 0.6);"></i></li>
                                <li><i class="fa-solid fa-lg fa-message" style="color: rgba(128, 128, 128, 0.6)"></i></li>
                                <li><i class="fa-solid fa-lg fa-ellipsis-vertical" style="color: rgba(128, 128, 128, 0.6)"></i></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Activate notifications -->
                    <div class="col-12 bg-aqua">
                        <div class="d-flex align-items-center py-10">
                            <div class="bg-light rounded-circle position-relative" style=" height: 50px; width: 50px;">
                                <i class="fa-solid fa-bell-slash fa-lg bell" style="color: #8edafc;"></i>
                            </div>
                            <div class="lh-sm px-2 align-middle">
                                <div class="fw-bold">Ricevi notifiche di nuovi messaggi</div>
                                <a href="">Attiva notifiche desktop</a>
                            </div>
                        </div>
                    </div>

                    <!-- Search bar -->
                    <div class="col-12 p-0">
                        <div class="input-group input-group-sm py-10 px-4">
                            <span class="input-group-text border-0" id="search-bar">
                                <i class="fa-solid fa-magnifying-glass" style="color: rgba(128, 128, 128, 0.6)"></i>
                            </span>
                            <input type="text" class="form-control border-0 shadow-none" aria-describedby="search-bar" placeholder="Cerca o inizia una nuova chat" v-model="search" @keyup="searchContact()">
                        </div>
                    </div>

                    <!-- Chat boxs -->
                    <div class="col-12 p-0">
                        <div class="chat-box">
                            <div v-show="chat.visible" class="align-middle my-d-flex py-10 px-3 position-relative pointer" :class="activeContact === index ? 'bg-lightgray' : ''" v-for="(chat, index) in contacts" :key="index" @click="changeContact(index)">
                                <img :src="chat.avatar" alt="">
                                <div class="mx-4">
                                    <div class="fw-bolder">{{chat.name}}</div>
                                    <div class="text-secondary">Ultimo messaggio inviato</div>
                                </div>
                                <span class="position-absolute top-0 end-0 py-10 px-2 text-secondary fs-smaller">12:00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RIGHT CONTAINER -->
            <div class="right">

                <!-- Header Right container -->
                <div class="row m-0">
                    <div class="col-12  d-flex justify-content-between bg-lightgray">
                        <div class="align-middle d-flex py-10 px-3">
                            <img :src="contacts[activeContact].avatar" alt="">
                            <div class="mx-4">
                                <div class="fw-bolder">{{contacts[activeContact].name}}</div>
                                <div class="text-secondary">Ultimo accesso oggi alle 12:00</div>
                            </div>
                        </div>
                    
                        <div class="d-flex align-items-center py-10">
                            <ul class="ul-menu list-unstyled d-flex m-0">
                                <li><i class="fa-solid fa-lg fa-magnifying-glass" style="color: rgba(128, 128, 128, 0.6);"></i></li>
                                <li><i class="fa-solid fa-lg fa-paperclip" style="color: rgba(128, 128, 128, 0.6)"></i></li>
                                <li><i class="fa-solid fa-lg fa-ellipsis-vertical" style="color: rgba(128, 128, 128, 0.6)"></i></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Message box -->
                    <div class="col-12 p-0">
                        <div class="box-message">
                            <div class="row flex-column m-0">

                                <!-- messages -->
                                <div class="col" v-for="(item, index) in contacts[activeContact].messages" :key="index">
                                    <div class="msg position-relative" :class="item.status == 'sent' ? 'msg-user float-end' : 'msg-pc float-start'">
                                        {{item.message}}
                                        <span class="position-absolute bottom-0 end-0 px-2 text-secondary fs-xsmall">{{item.date}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Text bar -->
                    <div class="col-12 bg-lightgray">
                        <div class="d-flex align-items-center py-10">
                            <span><i class="fa-regular fa-face-smile px-3" style="color: gray"></i></span>
                            <input type="search" class="form-control border-0 shadow-none mx-3" placeholder="Scrivi un messaggio..." @keyup.enter="sendMsg" v-model="newMsg"/>
                            <span><i class="fa-solid fa-microphone px-3" style="color: gray"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4/build/global/luxon.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>